html{
    background-color: #303030;
}
header{
    
    height: 6.8rem;
    width: 100%;
    background-color: #ff0000;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.container-menu{
    background-color: #ff0000;
    grid-template-columns: 1rem 2rem 2rem 2rem 2rem;
    grid-template-rows: 50% 50%;

}
.parte1{
    
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
    align-items: center;
   
    
}
.logo{
    grid-row: 1;
    grid-column: 1;
    margin-left: 30px;
    margin-top: 5px;
}
.proc{

    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    
    font-size: 20px;
    margin-top: 5px;
    margin-left: 140px;
    
    width: 100%;
    padding: 3px 15px;
    
    height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
}

.ir{
margin-top: 5px;
    margin-left: 125px;
   grid-column: 4;

}

.car{
    grid-row: 1;
    grid-column: 5;
    margin: 0 auto;
    padding: 5px 30px;
    font-size: 20px;

    color: aliceblue;
    background-color: #303030;
    border-radius: 20px;
    cursor: pointer;

    border: solid #303030;
}

#cart{
    margin-bottom: -5px;
}

.entrar{
    cursor: pointer;
    grid-row: 1;
    grid-column: 6;
   
    width: 11rem;
    margin: 0 auto;
    padding: 5px 30px;

    color: aliceblue;
    background-color: #303030;
    
    border: solid #303030;
    
   font-size: 20px;
   border-radius: 20px;
}
.user{
    margin-bottom: -7px;
}
#btn-mobile{
    display: none;
}

.menu{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    
    color: aliceblue;
    font-size: 20px;
    list-style: none;
    
    
   padding: 2px 2px;
    
    height: 25px;
    width: 99%;

    margin-left: 5px;

    display: flex;
    
    gap: 6rem;
    background: #303030;
    border: solid #303030;
    border-radius: 20px;
    
}


.elec{
    cursor: pointer;
}
.cel{
    cursor: pointer;
}
.tv{
    cursor: pointer;
}
.eletr{
    
    cursor: pointer;
}
.livro{
    
    cursor: pointer;
}
.bri{
    
    cursor: pointer;
}
/*
.banner{
    background: rgb(255, 136, 136);
    align-items: center;
    margin-top: 2%;
    margin-left: 40%;
    position: fixed;
  
}
*/

main{
    
    background-color: #303030;
    
}

#prod{
    color: #000;
}
#desc{
    font-size: 24px;
    
}
.container{
    display: grid;
    
    text-align: center;
     
    margin-left: 5%;
    grid-template-columns: 25% ;
    grid-template-rows: 34% ;
    justify-items: stretch;
    column-gap: normal;
    row-gap: 15px;

    margin-top: 115px;
    margin-bottom: 25px;
}


.pr1{
    grid-column: 1;
    grid-row: 1;
    
    margin-top: 20px;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
    
}


#produto{
    margin: 10px auto;
    width: 250px;

    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.pr2{
    grid-row: 1;
    grid-column: 2;

    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
    
    
}


.pr3{ 
    grid-row: 1;
    grid-column: 3;

    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
   
    height: 25rem;
    width: 18rem;
    
}

.pr4{
    grid-row: 1;
    grid-column: 4;

    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
  
    height: 25rem;
    width: 18rem;
    
}

.pr5{
    grid-column: 1;
    grid-row: 2;

    background-color: #fff;
    border-radius: 15px;
 
    height: 25rem;
    width: 18rem;
}

.pr6{
    grid-column: 2;
    grid-row: 2;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}

.pr7{
    grid-column: 3;
    grid-row: 2;

    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}

.pr8{
    grid-column: 4;
    grid-row: 2;
    background-color: #fff;

    border-radius: 15px;
   
    height: 25rem;
    width: 18rem;
}
.pr9{

    grid-row: 3;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}
.pr10{

    grid-row: 3;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}

.pr11{

    grid-row: 3;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}

.pr12{

    grid-row: 3;
    background-color: #fff;

    border-radius: 15px;
    
    height: 25rem;
    width: 18rem;
}

footer{
    width: 100%;
    background-color: #1a1818;
    border-top: 20px solid #1a1818;
    border-bottom: 30px solid #1a1818;
    
}
a{
    color: aliceblue;
}
.f-conteiner{
    display: flex;

    flex-direction: row;
    
    justify-content:space-evenly;

    align-items: stretch;

    font-size: 20px;
    color: aliceblue;

    gap: 5%;
    line-height: 35px;
}

.inst{
    
    order: 1;
}

.ajuda{
    order: 2;
}

.redes{
    order: 3;
}

#fac{
    width: 50px;
}
#ins{
    width: 50px;
}
#twi{
    width: 50px;
}
#linke{
    width: 50px;
    border-radius: 5px;
}


@media (max-width:1230px){
  
.menu{
    gap: 3rem;
}
   .container{
   column-gap: normal;
   margin-top: 115px;
    align-items: stretch;
    
   }


    #produto{
        margin: 10px auto;
        width: 190px;
    
        
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    
    .pr1{
        grid-column: 1;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }

    .pr2{
        grid-column: 2;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }

    .pr3{
        grid-column: 3;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }

    .pr4{
        grid-column: 4;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }

    .pr5{
        grid-column: 1;
        grid-row: 2;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }
    .pr6{
        grid-column: 2;
        grid-row: 2;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }
    .pr7{
        grid-column: 3;
        grid-row: 2;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }
    .pr8{
        grid-column: 4;
        grid-row: 2;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 22rem;
        width: 14rem;
    
    }

    .pr9{
        grid-column: 1;
        grid-row: 3;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
       height: 21rem;
        width: 14rem;
        margin-bottom: 0px;
    }

    .pr10{
        grid-column: 2;
        grid-row: 3;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 21rem;
        width: 14rem;
    
    }

    .pr11{
        grid-column: 3;
        grid-row: 3;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 21rem;
        width: 14rem;
    
    }
    .pr12{
        grid-column: 4;
        grid-row: 3;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 21rem;
        width: 14rem;
    
    }
}
@media (max-width:1030px) {
    .menu{gap: 2rem;}
}

@media screen and (max-width:990px) {
.menu{
    gap: 2rem;
}

    .car{
    width: 110px;
    font-size: 17px;
    padding: 1px 1px;
}  
    .entrar{
        width: 100px;
        margin: 0;
        padding: 1px 1px;
    }

}


@media (max-width:970px) {
    .menu{
        gap: 0.6rem;
        margin-left: 0;
    }
    .container{
        display: grid;
        
        text-align: center;
         
        margin-left: 5%;
        grid-template-columns: 33.3% ;
        grid-template-rows: 25% ;
        row-gap: 5px;
        margin-bottom: 90px;
    }
    
    .proc{
        margin-left: 115px;
    }
    .ir{
        margin-left: 110px;
    }
    #produto{
        margin: 18px auto;
        width: 190px;
        
        
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    
    .pr1{
        grid-column: 1;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;

        
        margin-bottom: 0;
    }

    .pr2{
        grid-column: 2;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;

      
        margin-bottom: 0;
    }

    .pr3{
        grid-column: 3;
        grid-row: 1;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
        margin-bottom: 0;
    }

    .pr4{
        grid-column: 1;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
       
    }

    .pr5{
        grid-column: 2;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
        
    }
    .pr6{
        grid-column: 3;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
    
    }
    .pr7{
        grid-column: 1;
        grid-row: 3;
        
    
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
   
    }
    .pr8{
        grid-column: 2;
        grid-row: 3;
        
      
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
       
    }

    .pr9{
        grid-column: 3;
        grid-row: 3;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
       height: 23rem;
        width: 14rem;
        margin-bottom: 25px;
    }

    .pr10{
        grid-column: 1;
        grid-row: 4;
        
       
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
        
    }

    .pr11{
        grid-column: 2;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
        
    }
    .pr12{
        grid-column: 3;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        height: 23rem;
        width: 14rem;
    
    }
}
@media (max-width:980px){
    .menu{
        gap: 1.5rem
    }
}

@media (max-width:910px){
header{
    height: 50px;
}
    .logo{
     width: 40px;
     margin-left: 70px;
 }
 .proc{
     width: 80%;
height: 25px;
 }
.ir{
    margin: 0;
    margin-top: 5px;
    height: 29px;
}
    #btn-mobile{
        display: block;
        margin-top: -20px;
        
    }
    .menu{
        margin-left: 0px;
    border-radius: 0px; 

        display: block;
       
        position: absolute;
        width: 100%;
        height: 0px ;
        top: 60px;
       left: 0;
        z-index: 1000;
        
        transition:0.6s;
        visibility: hidden;
        overflow-y: hidden;
            
    }
    #nav.active .menu{
        visibility: visible;
        overflow-y: auto;
        height: 45vh;
    }
    .menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    #btn-mobile{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background:none;
        cursor: pointer;

        gap:0.5rem;
    }

    #burger{
        width: 20px;
        border-top: 2px solid  hsl(192, 100%, 50%);;
        
    }

    #burger::after, #burger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: hsl(192, 100%, 50%);
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #burger{
        border-top-color: transparent;
    }
    #nav.active #burger::before{
    transform: rotate(135deg);
    }
    #nav.active #burger::after{
        transform: rotate(-135deg);
        top: -7px;
        }

    .container{
        margin-top: 56px;
        margin-bottom: 25px;
}
}
@media screen and (max-width: 770px) {
    .car{
        width: 50px;
        height: 40px;
        border-radius: 50%;
        
        
    }
    #cart{
        margin-left: 0;
        width: 28px;
    }
    .entrar{
        width: 50px;
        height: 40px;
        border-radius: 110%;
    }
.user{
    margin-left: 3px;
    width: 28px;

}
}
@media (max-width: 730px) {
    .container{
        margin-left: 5px;
        margin-bottom: 25px;
    }
    #produto{
        margin: 18px auto;
        width: 125px;
        
        
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    .pr1{
        grid-column: 1;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        
        margin-bottom: 0;
    }

    .pr2{
        grid-column: 2;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

      
        margin-bottom: 0;
    }

    .pr3{
        grid-column: 3;
        grid-row: 1;
        
        
        background-color: #fff;
      
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        margin-bottom: 0;
    }

    .pr4{
        grid-column: 1;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

       
    }

    .pr5{
        grid-column: 2;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        
    }
    .pr6{
        grid-column: 3;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

    
    }
    .pr7{
        grid-column: 1;
        grid-row: 3;
        
    
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

   
    }
    .pr8{
        grid-column: 2;
        grid-row: 3;
        
      
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

       
    }

    .pr9{
        grid-column: 3;
        grid-row: 3;
        
        
        background-color: #fff;
    
        border-radius: 15px;
        
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        
    }

    .pr10{
        grid-column: 1;
        grid-row: 4;
        
       
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        
    }

    .pr11{
        grid-column: 2;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

        
    }
    .pr12{
        grid-column: 3;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 20rem;
        width: 10rem;

    
    }
}

@media screen and (max-width: 630px){
  .logo{
      margin-left: 50px;
  }
    .proc{
        margin-left: 30%;
        width: 70%;
    }
    .car{
        width: 40px;
    }
    .entrar{
        width: 40px;
        margin-right: 0px;
    }

}
@media screen and (max-width: 500px){
    #produto{
        width: 100px;
    }
    
    .pr1{
        grid-column: 1;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

        
        margin-bottom: 0;
    }

    .pr2{
        grid-column: 2;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

      
        margin-bottom: 0;
    }

    .pr3{
        grid-column: 3;
        grid-row: 1;
        
        
        background-color: #fff;
      
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

        margin-bottom: 0;
    }

    .pr4{
        grid-column: 1;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

       
    }

    .pr5{
        grid-column: 2;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        height: 18.5rem;
        width: 9rem;

        
    }
    .pr6{
        grid-column: 3;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

    
    }
    .pr7{
        grid-column: 1;
        grid-row: 3;
        
    
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

   
    }
    .pr8{
        grid-column: 2;
        grid-row: 3;
        
      
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;
       
    }

    .pr9{
        grid-column: 3;
        grid-row: 3;
        
        
        background-color: #fff;
        
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

        
    }

    .pr10{
        grid-column: 1;
        grid-row: 4;
        
       
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

        
    }

    .pr11{
        grid-column: 2;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

        
    }
    .pr12{
        grid-column: 3;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18.5rem;
        width: 9rem;

    
    }
    .f-conteiner{
        margin-left: 8px;
    }
}

@media (max-width:450px) {
    #desc{
        font-size: 20px;
        
    }
  .pr1{
        grid-column: 1;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

        
        margin-bottom: 0;
    }

    .pr2{
        grid-column: 2;
        grid-row: 1;
        
        margin-top: 20px;
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

      
        margin-bottom: 0;
    }

    .pr3{
        grid-column: 3;
        grid-row: 1;
        
        
        background-color: #fff;
      
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

        margin-bottom: 0;
    }

    .pr4{
        grid-column: 1;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

       
    }

    .pr5{
        grid-column: 2;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        height: 18rem;
        width: 8rem;

        
    }
    .pr6{
        grid-column: 3;
        grid-row: 2;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

    
    }
    .pr7{
        grid-column: 1;
        grid-row: 3;
        
    
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

   
    }
    .pr8{
        grid-column: 2;
        grid-row: 3;
        
      
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;
    }

    .pr9{
        grid-column: 3;
        grid-row: 3;
        
        
        background-color: #fff;
        
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

        
    }

    .pr10{
        grid-column: 1;
        grid-row: 4;
        
       
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

        
    }

    .pr11{
        grid-column: 2;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;

        
    }
    .pr12{
        grid-column: 3;
        grid-row: 4;
        
        
        background-color: #fff;
    
        border-radius: 10px;
        
        height: 18rem;
        width: 8rem;
    }
    .f-conteiner{
        font-size: 18px;
    }
}
@media (max-width: 395px) {
   .logo{
       width: 30px;
   }
   .proc{
       height: 20px;
       width: 66%;
   }
   .ir{
       height: 22px;
   }
    .car{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    #cart{
        width: 20px;
    }
    .entrar{
     margin-right: -5px;
     border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .user{
        width: 20px;
    }
#produto{
    width: 6rem;
    height: 7rem;
}
    .pr1{
        width: 7rem;
    }
    .pr2{
        width: 7rem;

    }
    .pr3{
        width: 7rem;

    }
    .pr4{ 
     width: 7rem;
    }
    .pr5{
        width: 7rem;
    }
    .pr6{
        width: 7rem;
    }
    .pr7{
        width: 7rem;
    }
    .pr8{
        width: 7rem;
    }
    .pr9{
        width: 7rem;
    }
    .pr10{
        width: 7rem;
    }
    .pr11{
        width: 7rem;
    }
    .pr12{
        width: 7rem;
    }
    .f-conteiner{
        gap: 5%;
    }
}
/*
@media (max-width:340px) {
   .container{
       margin-right: 0;
       margin-left: 1px;
       gap: 5px;
   }
    #produto{
        width: 80px;
    }
    #desc{
       font-size: 19px;
    }
    .pr1{
        width: 6rem;
    }
    .pr2{
        width: 6.5rem;
    }
    .pr3{
        width: 6rem;
    }
    .pr4{
        width: 6rem;
    }
    .pr5{
        width: 6rem;
    }
    .pr6{}
    .pr7{}
    .pr8{}
    .pr9{}
    .pr10{}
    .pr11{}
    .pr12{}
}